@import url('style.css');

/* background es un shorthand 
    Incorrecto
        background: red;
    Correcto
        background-color: red;
*/

/* Las Imágenes siempre van por encima de los colores */
/* Por default la imágen se repite con esta propiedad
    background-repeat: repeat;
    diferentes variantes:
        repeat-x;
        repeat-y;
        no-repeat;

*/
body{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/228448/stranger-things.jpg');
    background-color: yellow;
    background-repeat: no-repeat;
}

h1{
    color: white;
}