@import url('style.css');

html, body{
    height: 100%;
}

h1{
    color: white;
}
body{
    background-image: url('../images/logo-sotec.png');
    background-repeat: no-repeat;
    background-color: var(--sotec-blue-light);
}
/* background position */
/* 
    background-position: x y
    

    predeterminado
    background-position: 0 0;
    Se puede tomar medidas con
    px
    %
    para x se pueden las propiedades:
        -left
        -center
        -right
    para y se pueden las propiedades:
        -top
        -center 
        -bottom

    background-position: x (separacion px) y (separacion px)

*/

body{
    background-size: 300px;
    background-position: right 50px bottom  20px;
}