*, *:before, *:after{
    box-sizing: border-box;
}

:root{
    --width : 400px;
    --height: 250px;
    --bg: yellow;
}

.box{
    width: 400px;
    height: 250px;
    background: yellow;
    border: 1px solid black;
     /*shorthand  
        border-width
        border-style
        border-color
     */
     /* border-width: 2px 2px 4px 8px;
     border-style: solid dashed dotted double;
     border-color: black blue red brown; */
    /* Si no pongo el border-color, toma el color de la letra */

    /* El border forma parte de la caja */
    
    /* Propiedades sin shorthand */
    border-top-width: 20px;
    border-top-style: dashed;
    border-top-color:black;
    /* todo esto se abrebia con: */
    border-top: 20px dashed black;
    border-right: 10px solid red;
    border-bottom: 15px double blue;
    border-left: 12px dotted purple;

}

h1{
    border: .25px solid;
    display: inline-block;
    padding: 5px;
}

.caja{
    display: inline-block;
    border-width: 50px;
    border-style: dashed;
    border-color: black red;
}
.triangulo{
    display: inline-block;
    border:35px solid;
    border-color: transparent;
    border-left-color: red;
}

/* Border-radius 
    Es un cuarto de circulo
    50% es lo máximo
    No es lo mismo el porcentaje que los pixeles
*/
.circle{
    border:35px solid;
    display: inline-block;
    border-radius: 100%;
    border-left-color: transparent;
}

.caja2{
    width: var(--width);
    height: var(--height);
    background: red;
    /* 
    border-top-left-radius: 40px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 160px; */

    /* Border-radius: x y */
    border-top-left-radius: 100px 200px;
    border-top-right-radius: 100px 50px;
    border-bottom-right-radius: 100px 200px;
    border-bottom-left-radius: 100px 50px;

    /*Border-radius: x x x x / y y y y*/
    border-radius: 50px 100px / 120px 120px;
    border-radius: 70px / 100px;
    padding: .1px;
}

.caja3{
    width:150px;
    height: 150px;
    margin: 50px auto 50px 170px;
    border: 75px solid;
    border-color: transparent;
    border-left-color: white;
    transform: scaleY(.65);
}

/* Outlinea 
    no afecta al layout
    Se usa para resaltar elementos
    Accesibilidad: destacando un input
    Mostrar un error
    Un debagging: para encontrar un error
    Osea para cosas muy puntuales
    pero no es común que no se use 
    como reemplazo de radius-border
*/

.box2{
    margin-top: 30px;
    width: var(--width);
    height: var(--height);
    background: var(--bg);
    border: 10px solid;
    outline: 10px solid red;
}