@import './base.css';

/* Degradados Lineales */

/* 
    Sintaxis Básica

bg-image:linear-gradient(color1, color2, etc)

    Sintaxis NO básica

bg-image:linear-gradient(color1 [stop], color2 [stop], etc)
    
    stop es opcional.
    
    1er Stop: dice hasta que porcentaje tenemos el color puro
    2do Stop: dice hasta que porcentaje se degradará el color

    Prácticamente trabaja de par en par

    antes de que sea degradado
    
    Puede ser en pixel o en porcentaje

    Sintaxis Sper Difícil
bg-image:linear-gradient([angle],color1 [stop], color2 [stop], etc)

    Angle o Ángulo, es opcional
    Grados en css es DEG

    palabras reservadas para angel:

    to right
    to left
    to top
    to bottom
    to top right
    to bottom right
    to top left
    to bottom left
*/

html, body{
    height: 100%;
}

.lineales{
    height: 200px;
    background-image: linear-gradient(yellow, red);
    background-image: linear-gradient(yellow 50%, red 50%);
    background-image: linear-gradient(yellow 35%, green 35%, green 70%, blue 70%);
    background-image: linear-gradient(225deg,yellow, red);
    background-image: linear-gradient(to bottom left,yellow, red);
    background-repeat: no-repeat;
}

/* Degradados Radiales*/

/* 
radial-gradient(color1, color2, color3, etc)
radial-gradient(color1 [stop], color2 [stop], etc)
radial-gradient([at x y], color1 [stop], color2 [stop], etc)
    at x y = son las coordenadas del centro
radial-gradient([size shape] [at x y], color1 [stop], .. , etc)
    size = tamaño
    shape = forma (circle or ellipse) (por default la forma será la forma del elemento)

    nota, si doy los tamños no es necesario poner la forma, ya que lo intuye segun las medidas que doy

    Palabras claves para dar tamaño:
    closest-side (lado más cercano)
    farthest-side (lado más lejano)
    closest-corner (esquina más cercana)
    farthest-corner (esquna más lejana)
*/
.radiales{
    height: 250px;
    width: 250px;
    background-image: radial-gradient(yellow,red);
    background-image: radial-gradient(yellow 40%,red 80%);
    background-image: radial-gradient(at 0 100%,yellow 40%,red 80%);
    background-image: radial-gradient(circle at 50% 50%,yellow 40%,red 80%);
    background-image: radial-gradient(200px 300px at 50% 50%,yellow 40%,red 80%);
    background-image: radial-gradient(farthest-corner at 0 0,yellow ,red );
}

/* Degradados repetidos */

/* Repetir degradados radiales
    repeating-radial-gradient
   Repetir degradados lineales
    repeating-linear-gradient

    nota: también se puede con background-size, lo dejé comentado para hacer pruebas
*/

.repetidos{
    height: 300px;
    width: 300px;
    background-image: radial-gradient(yellow,red);
    /* background-size: 20%; */
    background-image: repeating-radial-gradient(white 10%,blue 20%);
    background-image: repeating-radial-gradient(white 0,white 10%, blue 10%,blue 20%);
    background-image: repeating-linear-gradient(white 0,white 8%, blue 8%,blue 8.5%);
}